**/venv
**/venv-*
**/squashfs-root
**/.bundle
**/__pycache__
**/.DS_Store
**/.github
**/vendor
**/*.pyc
**/*.o
bin/*
setup/nvim/
setup/nvim-data/
setup_*.log
tools/nvim/
tools/tree-sitter/
blue_tools/
